In [1]:
# Comment & Basic Data Types
print("Hello") # This is also a comment

Hello

In [2]:
#The following are all integers
print(2)
print(10)

2
10

In [3]:
#the following are all floats
print(10.935)
print(8.0) #even this number is a float

10.935
8.0

In [4]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# The following are strings
print("")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [9]:
num1 = 5 # storing an integer into a variable
num2 = 8.4 # storing a float into a variable
print(num1, num2) # you can print multiple items using commas

5 8.4

In [10]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [11]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) # will print 9 next to the name

John Smith 9

In [12]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [16]:
# adding, deleting, multiplying, dividing from a variable
result += 1 # same as saying result = result +1
result -= 1 # same as saying result = result -1 
print(result)
result *= num1 # same as saying result = result * num1
print(result)

13.4
67.0

In [15]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [18]:
#using the additon operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [19]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [20]:
name ="john"
print("Hello {}".format(name))
print("Hello {}, you are {} years old! ".format(name, 28))

Hello john
Hello john, you are 28 years old!

In [21]:
word = "Hello"
print(word[0]) # will output 'H'
print(word[1]) # will ouput 'e'
print(word[2]) # will output 'l'
print(word[-1])
print(word[-2])

H
e
l
o
l

In [22]:
word = "Greenwich"
print(word[1:5])
print(word[0:5:1])
print(word[0:5:2])

reen
Green
Gen

In [23]:
#using the title method to capitalize a string
name = "john smith"
print(name.title())
schoolname = "greenwich university"
print(schoolname.title())

John Smith
Greenwich University

In [27]:
#replacing an exclamation point with a peiord
words = "Hello there!"
print(word.replace("!", "."))
greeting = "How are you."
print(greeting.replace(".", "?"))

Hello there.
How are you?

In [28]:
s = "Look over that way"
print(s.find("way"))

15

In [29]:
name = "  john  "
print(name.strip()) # remove the space

john